<p id="notice"><%= notice %></p>

<p>
  <b>Artist:</b>
  <%= @inventory.artist_id %>
</p>

<p>
  <b>Description:</b>
  <%= @inventory.description %>
</p>

<p>
  <b>Quanity:</b>
  <%= @inventory.quanity %>
</p>

<p>
  <b>Purchase Price:</b>
  <%= @inventory.purchase_price %>
</p>

<p>
  <b>Sale Price:</b>
  <%= @inventory.sale_price %>
</p>


<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
